@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.main-cont {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
  
#skills, #certifications {
    flex: 1;
    padding: 10px;
    margin: 10px;
    font-family: Montserrat;
}
  
@media (max-width: 768px) {
    .main-cont {
      height: 100vh;
      flex-direction: column;
      margin: 20px 20px;
    }
  
    #skills, #certifications {
      margin: 0;
      margin-bottom: 10px;
    }
    .list{
        display: flex;
        align-items: center;
        justify-content: left;
    }
    hr{
        display: none;
    }
}
  
#skills ul, #certifications ul {
padding: 5;
}

#skills h3, #certifications h3 {
margin: 0;
}

.items{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
}
#icon{
    font-size: 25px;
    margin: 0;
}

.list ul{
    padding: 20px   ;
    margin: 20px;
    list-style:disc;
}

.list ul li{
    margin: 10px 10px;
}

hr{ 
    border:         none;
    border-left:    1px solid hsla(200, 10%, 50%,100);
    height:         40vh;
    width:          1px;       
}